body {
    font-family: 'Anek', sans-serif;
}
@font-face {
          font-family: 'Anek';
          src: url('/app/src/app/Fonts/AnekTamil-VariableFont_wdth\,wght.ttf');
          font-weight: normal;
          font-style: normal;
        }
nav {
    margin-left: 0%;
    margin-top: 0%;
    background: #556773;
    background: -webkit-linear-gradient(to right, #0B1840, #556773);
    background: linear-gradient(to right, #0B1840, #556773);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: white;
    min-width: 557px;
}

.LogoNome {
    margin-left: 1%;
    margin-bottom: 0.35%;
}

.nav-link {
    color: white
}

.navbar-brand {
    color: white
    
}

.navbar-brand:hover{
    color: #556773;
}

.nav-item .nav-link{
    color: white
}

.btn-outline-success {
    color: black
}

.form-inline {
    margin-left: 10px;
}

form {
    display: flex
}

.btn-outline-success {
    color: white;
}

.pIniCanc {
    margin-top: 1%;
}


table {
    background: #556773;
    margin-left: 1.5%;
}

th {
    color: #ffffff;
    background: #0B1840;
    padding: 3vh 4vw 3vh 4vw;
}

td {
    padding: 2vh 4vw 2vh 4vw;
}

   td, th {
    text-align: center;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.container-fluid {
    min-width: 557px;
}

.container-fluid table tr td {
    color: white;
}

.btn-cancelarInicial {
    background-color: #0B1840;
    border-color: #0B1840;
    margin-left: 1.5%;
}

.btn-cancelarFinal {
    background-color: #0B1840;
    border-color: #0B1840;
}