<div class="check-in-container">
    <ul>
        <li>
            <div class="check-in-dados">
                <h3>Recife -> Belo Horizonte</h3>
                <p>
                    12/04/2021 - 10:30
                </p>
            </div>
            <div class="check-in-button">
                <button>Fazer check-in</button>
            </div>
        </li>

        <li>
            <div class="check-in-dados">
                <h3>Recife -> Belo Horizonte</h3>
                <p>
                    12/04/2021 - 10:30
                </p>
            </div>
            <div class="check-in-button">
                <button>Fazer check-in</button>
            </div>
        </li>

        <li>
            <div class="check-in-dados">
                <h3>Recife -> Belo Horizonte</h3>
                <p>
                    12/04/2021 - 10:30
                </p>
            </div>
            <div class="check-in-button">
                <button>Fazer check-in</button>
            </div>
        </li>
    </ul>

    <div class="check-in-modal">
        <div>
            <div class="check-in-text-confirm">
                <h4>Confirmar check-in no voo Recife -> Belo Horizonte, 12/04/2021 - 10:30 </h4>
            </div>
            <div class="check-in-buttons">
                <button class="check-in-confirm">Confirmar</button>
                <button class="check-in-cancel">Cancelar</button>
            </div>
        </div>
    </div>
    
</div>

