<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Selecionar Assento</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="selecionar-assento.component.css" />
    <script></script>

</head>

<body>
    <h2>Escolha seu assento</h2>
    <div id="choose-seat">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <button type="button" class="btn btn-outline-dark">E1</button>
                </div>
                <div class="col-sm">    
                    <button type="button" class="btn btn-outline-dark">E2</button>
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn-outline-dark">E3</button>
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn-outline-dark">E4</button>
                </div>
                <div class="col-sm">
                    <button type="button" class="btn btn-outline-dark">E5</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>