<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Selecionar Voo</title>

  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="selecionar-voo.component.css" />
  <script></script>

</head>

<body>
  <h2>Escolha seu voo de ida</h2>
  <div id="choose-flight">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <button type="button" class="btn btn-outline-dark">Sexta, 15/04</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-outline-dark">Sábado, 16/04</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-outline-dark">Domingo, 17/04</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          ORIGEM (REC) - DESTINO (GRU) 
        </div>
        <div class="col-sm">
          ORIGEM (REC) - DESTINO (GRU)
        </div>
        <div class="col-sm">
          ORIGEM (REC) - DESTINO (GRU)
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          DURAÇÃO 03:20
        </div>
        <div class="col-sm">
          DURAÇÃO 03:20
        </div>
        <div class="col-sm">
          DURAÇÃO 03:20
        </div>
      </div>
    </div>
  </div>
  <h2>Escolha seu voo de volta</h2>
  <div id="choose-flight">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <button type="button" class="btn btn-outline-dark">Quarta, 20/04</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-outline-dark">Quinta, 21/04</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-outline-dark">Sexta, 22/04</button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          ORIGEM (GRU) - DESTINO (REC) 
        </div>
        <div class="col-sm">
          ORIGEM (GRU) - DESTINO (REC)
        </div>
        <div class="col-sm">
          ORIGEM (GRU) - DESTINO (REC)
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          DURAÇÃO 03:20
        </div>
        <div class="col-sm">
          DURAÇÃO 03:20
        </div>
        <div class="col-sm">
          DURAÇÃO 03:20
        </div>
      </div>
    </div>
  </div>
</body>

</html>