<!--notificações que o usuario recebeu-->
<div class="dropdown">
  <button class="btn btn-outline-secondary" type="button" data-bs-toggle="dropdown" id="dropdownNotif">
    Notificações <span class="badge badge-light">{{notificacoes.length}}</span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownNotif">
    <li *ngFor="let notificacao of notificacoes">
      <h2 class="h2DropNotif">{{notificacao.titulo}}</h2>
      <p class="pDropNotif">{{notificacao.descricao}}</p>
      <div class="dropdown-divider"></div>
    </li>
  </ul>
</div>
